@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-material-design";
@import "material_icons";

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer{position:absolute;bottom:0;width:100%;height:60px;background-color:#f5f5f5}.container .text-muted{margin:20px 0}.footer>.container{padding-right:15px;padding-left:15px}code{font-size:80%}.footer-link{padding-right:15px;color:#999}.person-detail>dt{width:165px}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.main-content {
  text-align: justify;
}