@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-material-design";

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer{position:absolute;bottom:0;width:100%;height:60px;background-color:#f5f5f5}.container .text-muted{margin:20px 0}.footer>.container{padding-right:15px;padding-left:15px}code{font-size:80%}.footer-link{padding-right:15px;color:#999}.person-detail>dt{width:165px}

